.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
  background-color: #1f1f1f;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 20px;
  padding: 0 10px; 
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: #e0e0e0;
  padding: 15px 25px;
  white-space: nowrap;
}

nav a:hover {
  background-color: #444;
}

@media (max-width: 1000px) {
  nav {
display: none;
  }

}



