.my-ads{
    width: calc(100% - 20px); /* Kompenzálás */
    height: flex;
    flex-direction: column;
    background-color: #121212;
    margin-left: 20px;
}

.my-ads h2{
    font-size: 28px;
    color: #e0e0e0;
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}
.my-ads ul{
    list-style-type: none;
    width: 100%;
    max-width: 800px;
    padding: 0;
}
.my-ads li{
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    margin-bottom: 20px;
}
.my-ads li:hover{
    transform: scale(1.02);
    box-shadow: 0px 8px 20px rgba(192, 192, 192, 0.3), 
                0px 4px 10px rgba(192, 192, 192, 0.2);
}
.my-ads li h3{
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}
.my-ads li p{
    font-size: 18px;
    color: #b0b0b0
}
.my-ads li a{
    color: #9b59b6; 
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}
.my-ads a:hover{
    text-decoration: none;
}
.ad-content{
    display: flex;
}
.ad-image{
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 15px;
}
.ad-details{
    flex: 1;
}
.ad-details button{
    width: auto;
}
.modify:hover {
    background-color: green;
  }
.delete-button:hover{
    background-color: red;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #1f1f1f; /* Sötét háttér */
    color: #e0e0e0; /* Világos szöveg */
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(192, 192, 192, 0.3), 
                0px 4px 10px rgba(192, 192, 192, 0.2);
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Sötétebb átlátszó háttér */
    backdrop-filter: blur(5px); /* Elmosódás hozzáadása */
  }
  
  .modal h2 {
    margin-bottom: 15px;
    color: #e0e0e0;
    font-size: 1.5em;
  }
  
  .modal p {
    margin-bottom: 20px;
    color: #c0c0c0;
    font-size: 1.2em;
  }
  
  .modal button {
    width: 180px;
    background-color: #121212;
    color: #e0e0e0;
    border: none;
    padding: 10px 0;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background: #555;
  }