.Container {
  padding: 20px;

}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: flex-start; 
  align-content: flex-start; 
  margin-left: 190px; 
  gap: 10px; 
}