.filter-sidebar {
    width: 150px;
    background-color: #1f1f1f;
    position: fixed;
    height: auto;
    overflow-y: auto;
    left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    top: 15vh;
    overflow-x: hidden;
}


.filter-items {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.filter-item {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
    text-align: center;
    overflow-x: hidden;
}

.filter-item:hover {
    background-color: #444;
}
